<th:block th:include="/_header"></th:block>
<th:block th:include="/menu"></th:block>
<br />
<div align="center">
	<h1>Order List</h1>
</div>
<div align="center">
<table border="1" style="margin:20px;text-align: center;">
    <thead>
        <tr>
            <th> ORDER ID </th>
            <th> DESCRIPTION </th>
            <th> PRODUCT ID </th>
            <th> QUANTITY </th>
            <th> DATE  </th>
            <th> STATE  </th>
            <th> TOTAL  </th>
            <th> ACTION </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${listOrder.empty}">
            <td colspan="2"> No Order Available </td>
        </tr>
        
        <tr th:each="order : ${listOrder}">
            <td><span th:text="${order.id}"></span></td>
            <td><span th:text="${order.description}"></span></td>
            <td><span th:text="${order.productOrder.name}"></span></td>
            <td><span th:text="${order.quantity}"></span></td>
            <td><span th:text="${order.dateOrder}"></span></td>
            <td><span th:text="${order.stateOrder}"></span></td>
            <td><span th:text="${order.totalOrder}"></span></td>
            <td>
            	<a th:href="@{'/order/delete/' + ${order.id}}" class="buttons">
					<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/delete-1961630-1659595.png" width="25px">
				</a>
				<a th:href="@{'/order/edit/' + ${order.id}}" class="buttons">
					<img src="https://image.flaticon.com/icons/png/512/84/84380.png" width="25px">
				</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>

</html>