<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Hulk Store</title>
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<div align="center">
		<h1>Product List</div></h1>
		<th:block sec:authorize="isAuthenticated()">
			<a href="/new">Create New Product</a>
		</th:block>	
		<br /><br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}" class="item" >
					<td th:text="${product.id}">Product ID</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.quantity}">Quantity</td>
					<td th:text="${product.price}">Price</td>
					<td>
						<div sec:authorize="isAuthenticated()">
							<a th:href="@{'/edit/' + ${product.id}}" class="buttons">Edit</a>
							&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/delete/' + ${product.id}}" class="buttons" >Delete</a>
						</div>
						<div sec:authorize="isAnonymous()">
							<a th:href="@{'/buy/' + ${product.id}}" class="buttons" onclick="addProductCard('${product.id}','${product.name}','${product.price}')">Add Cart</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
				
</body>

</html>